.hidden {
  display: none;
}

body {
  background-color: black;
}

h2 {
  color:aliceblue;
  background-color: black;
  border-radius: 10px;
  font-size: 30px;
  text-align: center;
  font-family: "Lucida Console", "Courier New", monospace;
}

p {
  text-align: justify;
}

label {
  display: block;
  text-indent: 4%;
  width: 500px;
  clear: left;
}

.box{
  border-radius: 15px;  
  color: black;
  background-color: #17a2b8;
  padding: 4%;
  margin: 5%;
  box-sizing: border-box;
  font-weight: 300;
}